.title {
  text-transform: capitalize;
  text-align: center;
  color: green;
}

.navDiv {
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchSection {
  padding-top: 30px;
  text-align: center;
}

.formFields {
  margin-bottom: 10px;
}

.infoLabel {
  text-transform: capitalize;
  font-weight: bold;
}

.infoSection {
  text-align: center;
  padding-top: 30px;
}

.infoSectionTitle {
  text-transform: uppercase;
}

.infoFields {
  margin-bottom: 15px;
  border: 2px solid black;
  padding: 20px;
}
